---

files:
    "/etc/nginx/pss-redirects3.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sources/(176[3-9]|177[0-3])$ /primary-source-sets/fake-news-in-the-1890s-yellow-journalism/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(849|85[0-9]|860)$ /primary-source-sets/fannie-lou-hamer-and-the-civil-rights-movement-in-rural-mississippi/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(93[6-9]|94[0-5])$ /primary-source-sets/feeding-the-hungry-with-food-stamp-programs/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(164[89]|165[0-8])$ /primary-source-sets/frank-lloyd-wright-and-modern-american-architecture/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(9[2-9]|10[0-5])$ /primary-source-sets/frederick-douglass-and-abraham-lincoln/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(109[89]|110[0-9]|111[0-2])$ /primary-source-sets/full-steam-ahead-the-steam-engine-and-transportation-in-the-nineteenth-century/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(51[2-9]|52[0-3])$ /primary-source-sets/henry-clay-the-great-compromiser/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(111[3-9]|112[0-5])$ /primary-source-sets/ida-b-wells-and-anti-lynching-activism/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(92[4-9]|93[0-5])$ /primary-source-sets/immigration-and-americanization-1880-1930/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(183[0-9]|184[0-4])$ /primary-source-sets/immigration-through-angel-island/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(112[6-9]|113[0-9]|1140)$ /primary-source-sets/incidents-in-the-life-of-a-slave-girl-by-harriet-jacobs/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(160[7-9]|161[0-9])$ /primary-source-sets/invisible-man-by-ralph-ellison/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(13[4-9]|14[0-5])$ /primary-source-sets/jacksonian-democracy/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(126[89]|127[0-9]|128[0-2])$ /primary-source-sets/japanese-american-internment-during-world-war-ii/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(44[4-9]|45[0-3])$ /primary-source-sets/jitterbugs-swing-kids-and-lindy-hoppers/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(171[89]|172[0-9]|173[0-2])$ /primary-source-sets/john-brown-s-raid-on-harper-s-ferry/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(90[1-9]|91[0-2])$ /primary-source-sets/latin-american-revolutionaries/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(16[0-9])$ /primary-source-sets/little-women-by-louisa-may-alcott/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(155[0-9]|156[0-3])$ /primary-source-sets/lyndon-johnson-s-great-society/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(45[4-9]|46[0-3])$ /primary-source-sets/manifest-destiny/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(6[3-9]|7[0-7])$ /primary-source-sets/mexican-labor-and-world-war-ii-the-bracero-program/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(159[2-9]|160[0-6])$ /primary-source-sets/mormon-migration/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(18[0-9]|19[0-4])$ /primary-source-sets/negro-league-baseball/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(143[7-9]|144[0-9])$ /primary-source-sets/nineteenth-century-schools-for-the-deaf-and-blind/sources/$2 permanent;            
            rewrite ^/primary-source-sets/sources/(72[0-9]|73[01])$ /primary-source-sets/northern-draft-riots-during-the-civil-war/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(180[2-9]|181[0-5])$ /primary-source-sets/of-mice-and-men-by-john-steinbeck/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1859|186[0-9]|187[0-2])$ /primary-source-sets/pablo-picasso-s-guernica-and-modern-war/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(95[7-9]|96[0-9]|97[01])$ /primary-source-sets/patronage-and-populism-the-politics-of-the-gilded-age/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(21[0-9])$ /primary-source-sets/perspectives-on-the-french-and-indian-war/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(148[4-9]|149[0-8])$ /primary-source-sets/pop-art-in-the-us/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(22[0-9]|23[01])$ /primary-source-sets/postwar-rise-of-the-suburbs/sources/$2 permanent;
