---

files:
    "/etc/nginx/pss-redirects4.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sources/(139[7-9]|140[0-6])$ /primary-source-sets/powhatan-people-and-the-english-at-jamestown/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(114[1-9]|115[0-5])$ /primary-source-sets/puerto-rican-migration-to-the-us/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(174[89]|175[0-9]|176[0-2])$ /primary-source-sets/reservations-resistance-and-the-indian-reorganization-act-1900-1940/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1369|137[0-9]|138[0-2])$ /primary-source-sets/revolutionary-war-turning-points-saratoga-and-valley-forge/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(55[3-9]|56[0-3])$ /primary-source-sets/rise-of-conservatism-in-the-1980s/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/([1-9]|1[1-7])$ /primary-source-sets/road-to-revolution-1763-1776/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(58[7-9]|59[0-9])$ /primary-source-sets/rock-and-roll-beginnings-to-woodstock/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(77[0-9]|78[0-3])$ /primary-source-sets/secession-of-the-southern-states/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(173[3-9]|174[0-7])$ /primary-source-sets/second-ku-klux-klan-and-the-birth-of-a-nation/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(115[6-9]|116[0-9]|1170)$ /primary-source-sets/settlement-houses-in-the-progressive-era/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(73[2-9]|74[0-2])$ /primary-source-sets/shays-rebellion/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(67[5-9]|68[0-9])$ /primary-source-sets/social-realism/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(170[3-9]|171[0-7])$ /primary-source-sets/space-race/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(128[3-9]|129[0-7])$ /primary-source-sets/spanish-missions-in-california/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(140[7-9]|141[0-9]|142[01])$ /primary-source-sets/stonewall-and-its-impact-on-the-gay-liberation-movement/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(117[1-9]|118[0-4])$ /primary-source-sets/texas-revolution/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(98[7-9]|99[0-9])$ /primary-source-sets/the-absolutely-true-diary-of-a-part-time-indian-by-sherman-alexie/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(100[0-9]|101[0-4])$ /primary-source-sets/the-adventures-of-huckleberry-finn-by-mark-twain/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(17[0-9])$ /primary-source-sets/the-american-abolitionist-movement/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(132[89]|133[0-9]|134[01])$ /primary-source-sets/the-american-indian-movement-1968-1978/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(157[89]|158[0-9]|159[01])$ /primary-source-sets/the-american-whaling-industry/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(4[89]|5[0-9]|6[0-2])$ /primary-source-sets/the-atomic-bomb-and-the-nuclear-age/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(145[0-9]|146[0-3])$ /primary-source-sets/the-awakening-by-kate-chopin/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(38[2-9]|39[0-5])$ /primary-source-sets/the-black-power-movement/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(118[5-9]|119[0-8])$ /primary-source-sets/the-boston-tea-party/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(24[89]|25[0-9])$ /primary-source-sets/the-colonies-motivations-and-realities/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(156[4-9]|157[0-7])$ /primary-source-sets/the-columbian-exchange/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(63[0-9]|64[0-4])$ /primary-source-sets/the-crucible-by-arthur-miller/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1199|120[0-9]|121[01])$ /primary-source-sets/the-equal-rights-amendment/sources/$2 permanent;
