---

files:
    "/etc/nginx/pss-redirects5.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sources/(121[2-9]|122[0-6])$ /primary-source-sets/the-fifteenth-amendment/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(122[7-9]|123[0-8])$ /primary-source-sets/the-fire-next-time-by-james-baldwin/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(10[6-9]|11[0-8])$ /primary-source-sets/the-freedmen-s-bureau/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(48[7-9]|49[0-7])$ /primary-source-sets/the-golden-age-of-broadway/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(26[0-9]|27[0-3])$ /primary-source-sets/the-grapes-of-wrath-by-john-steinbeck/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(27[4-9]|28[0-7])$ /primary-source-sets/the-great-gatsby-by-f-scott-fitzgerald/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(52[4-9]|53[0-8])$ /primary-source-sets/the-great-migration/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(119|12[0-9]|13[0-3])$ /primary-source-sets/the-homestead-acts/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(799|80[0-9]|81[0-2])$ /primary-source-sets/the-homestead-strike/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(69[0-9]|70[0-4])$ /primary-source-sets/the-hudson-river-school/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(28[89]|29[0-9]|300)$ /primary-source-sets/the-impact-of-television-on-news-media/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(129[89]|130[0-9]|131[0-2])$ /primary-source-sets/the-invention-of-the-telephone/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(14[6-9]|15[0-9])$ /primary-source-sets/the-lewis-and-clark-expedition/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(56[4-9]|57[0-5])$ /primary-source-sets/the-new-deal/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(66[0-9]|67[0-4])$ /primary-source-sets/the-new-woman/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(19[5-9]|20[0-9])$ /primary-source-sets/the-panama-canal/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(152[4-9]|153[0-5])$ /primary-source-sets/the-panic-of-1837/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(82[89]|83[0-7])$ /primary-source-sets/the-poetry-of-emily-dickinson/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(101[5-9]|102[0-6])$ /primary-source-sets/the-poetry-of-maya-angelou/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(46[4-9]|47[0-3])$ /primary-source-sets/the-populist-movement/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(75[89]|76[0-9])$ /primary-source-sets/the-raven-by-edgar-allan-poe/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(135[7-9]|136[0-8])$ /primary-source-sets/the-rise-of-italian-fascism-and-its-influence-on-europe/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(102[7-9]|103[0-9]|104[01])$ /primary-source-sets/the-scarlet-letter-by-nathaniel-hawthorne/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(23[3-9]|24[0-7])$ /primary-source-sets/the-scopes-trial/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(30[1-9]|31[0-4])$ /primary-source-sets/the-things-they-carried-by-tim-o-brien/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(31[5-9]|32[0-9])$ /primary-source-sets/the-transatlantic-slave-trade/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(104[2-9]|105[0-6])$ /primary-source-sets/the-underground-railroad-and-the-fugitive-slave-act-of-1850/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(131[3-9]|132[0-7])$ /primary-source-sets/the-united-farm-workers-and-the-delano-grape-strike/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(49[89]|50[0-9]|51[01])$ /primary-source-sets/the-war-of-1812/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(105[7-9]|106[0-9])$ /primary-source-sets/the-watsons-go-to-birmingham-1963-by-christopher-paul-curtis/sources/$2 permanent;
