---

files:
    "/etc/nginx/pss-redirects6.conf":
        mode: "0644"
        owner: "root"
        group: "root"
        content: |
            rewrite ^/primary-source-sets/sources/(78[4-9]|79[0-8])$ /primary-source-sets/the-woman-warrior-by-maxine-hong-kingston/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(74[3-9]|75[0-7])$ /primary-source-sets/the-wounded-knee-massacre/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1239|124[0-9]|125[0-2])$ /primary-source-sets/the-yellow-fever-epidemic-of-1878/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(539|54[0-9]|55[0-2])$ /primary-source-sets/their-eyes-were-watching-god-by-zora-neale-hurston/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(163[4-9]|164[0-7])$ /primary-source-sets/theodore-dreiser-s-sister-carrie-and-the-urbanization-of-chicago/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(94[6-9]|95[0-6])$ /primary-source-sets/there-is-no-cure-for-polio/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(64[5-9]|65[0-9])$ /primary-source-sets/to-kill-a-mockingbird-by-harper-lee/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(188[89]|189[0-9]|190[0-2])$ /primary-source-sets/treaty-of-versailles-and-the-end-of-world-war-i/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(151[3-9]|152[0-3])$ /primary-source-sets/truth-justice-and-the-birth-of-the-superhero-comic-book/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(33[0-9]|34[01])$ /primary-source-sets/uncle-tom-s-cabin-by-harriet-beecher-stowe/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(184[5-9]|185[0-8])$ /primary-source-sets/victorian-era/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(34[2-9]|35[0-4])$ /primary-source-sets/visual-art-during-the-harlem-renaissance/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(138[3-9]|139[0-6])$ /primary-source-sets/voting-rights-act-of-1965/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(97[2-9]|98[0-6])$ /primary-source-sets/when-miners-strike-west-virginia-coal-mining-and-labor-history/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(43[2-9]|44[0-3])$ /primary-source-sets/women-and-the-blues/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(177[4-9]|178[0-8])$ /primary-source-sets/women-and-the-temperance-movement/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(81[3-9]|82[0-7])$ /primary-source-sets/women-in-the-civil-war/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(107[0-9]|108[0-2])$ /primary-source-sets/women-of-the-antebellum-reform-movement/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(35[5-9]|36[0-9])$ /primary-source-sets/women-s-suffrage-the-campaign-for-the-nineteenth-amendment/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(108[3-9]|109[0-7])$ /primary-source-sets/world-war-i-america-heads-to-war/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(1689|169[0-9]|170[0-2])$ /primary-source-sets/world-war-ii-s-eastern-front-operation-barbarossa/sources/$2 permanent;
            rewrite ^/primary-source-sets/sources/(37[0-9]|38[01])$ /primary-source-sets/world-war-ii-women-on-the-home-front/sources/$2 permanent;
